@page
@model WebApp.Pages.Samples.UsingEmploymentClassModel
@{
    ViewData["Title"] = "Using Classes";
}
<h1>Demo: Using the Employment Class</h1>

@if(!string.IsNullOrWhiteSpace(Model.FeedBack))
{
    <blockquote style="background-color:aqua">
        @Model.FeedBack
    </blockquote>
}

<form method="post">
    <label>
        Enter employment Title:
        <input type="text" placeholder="enter employment title"
                asp-for="employment.Title"/>
    </label>
    <label>
        Select supervisory level:
        <select asp-for="supervisorylevel">
            <option value="Entry">Entry</option>
            <option value="TeamMember">TeamMember</option>
            <option value="TeamLeader">TeamLeader</option>
            <option value="Supervisor">Supervisor</option>
            <option value="DepartmentHead">DepartmentHead</option>
            <option value="Owner">Owner</option>
        </select>
    </label>
    <label>
        Enter employment start data for position
        <input type="date" asp-for="startdate" />
    </label>
    <label>
        Enter number of years in position
        <input type="number" asp-for="employment.Years" min="0.0" step="0.1" />
    </label>
    <br/><br/>
    <button type="submit" asp-page-handler="Accept">Accept</button>
</form>