@page
@model WebApp.Pages.Samples.RegionQueryOneModel
@{
    ViewData["Title"] = "Region Lookup";
}

<h1>Region Lookup</h1>
<p> This page will demonstrate a simple single record query to the database.
    The record query will be done in two ways: a) using a textbox and b) 
    selecting from a dropdownlist (select control). The entity being used is
    the Region table as it has only 2 fields to display (for simplicity).
</p>