html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*own custom CSS*/
.setflex{
    display: flex;
}

.onehalf{
    width:47%;
    margin-right:3%; 
}